body {
    padding: 0;
    margin: 0;
}

header {
    height: 150px;
    background-color: red;
}

nav {
    background-color: yellow;
    line-height: 25px;
}

article {
    min-height: 433px;
    width: 75%;
    background: white;
    float: left;
}

aside {
    min-height: 433px;
    width: 25%;
    background: gray;
    float: left;
}

footer {
    height: 40px;
    background-color: pink;
    clear: both;
}