* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.li {
    list-style: none;
}


/* header */

.nav {
    padding: 15px;
    width: 100%;
    display: flex;
    background: #f1df11;
}

.nav>div>menu {
    display: flex;
    line-height: 2rem;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
}

.nav>div>menu>ul {
    display: flex;
}

.nav>div>menu>ul>li>a {
    text-decoration: none;
    color: #43433e;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 800;
}

.nav>div>menu>ul>li>a:hover {
    color: red;
}

.menu>form {
    position: relative;
}

.menu>form>input {
    border: none;
    background: #fff;
    padding: 7px;
    outline: none;
    border-radius: 12px;
}

.menu>form>button {
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 2px;
    border: none;
    outline: none;
    background: #fff;
}