table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    border: 1px solid red;
    background-color: azure;
}

tr:first-child {
    background-color: rgb(18, 236, 29);
    color: yellow;
}

.title {
    background-color: aqua;
}