table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #12afdf;
}

thead {
    background-color: blanchedalmond;
}

tbody tr:nth-child(2n+1) {
    background-color: rgb(211, 193, 193);
}

tbody tr:nth-child() {
    background-color: whitesmoke;
}