.cot{
    width: 25%;
    float: left;
    margin: auto;
}
.khung{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 5px red;
    text-align: center;
    position: relative;
    background-color: white;
    height: 250px;
    width: 250px;
}
.khung>.name{
    font-size: 26px;
    font-variant: small-caps;
    color: aqua;
}
.hinhmon{
    max-width: 98%;
    text-align: center;
    height: 100px;
    margin-top: 10px;
}
.khung>.gia{
    position: absolute;
    font-size: 26px;
    font-weight: bolder;
    color: orange;
    left: 5px;
    bottom: 2px;
}
.khung>.icon{
    position: absolute;
    right: 20px;
    bottom: 2px;
    width: 25px;
}
.khung>.hinhnew{
    position: absolute;
    top: 0px;
    right: 0px;
}