*{
    list-style: none;
    box-sizing: content-box;
}
#page{
    width: 960px;
    margin: 0 auto;
}
.container{
    position: relative;
    background-image: url(image/hinhná»n.jpg);
    background-size: 100%;
    height: 280px;
    margin: 0px;
}

.container>.menu-top{
    position: absolute;
    background-color: red;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    height: 50px;
    width: 45%;
    box-shadow:0 0 5px yellow;
    margin: auto;
}
.container>.menu-top>li>a{
    line-height: 50px;
    text-decoration: none;
    font-variant: small-caps;
    color: white;
}
.container>.menu-top>li{
    text-align: center;
    float: right;
    padding-right: 25px;

}
.container>.menu-top>li>a:hover{
    font-weight: bolder;
}

.left-bottom{
    position: absolute;
    left: 40px;
    bottom: 60px;
}
.left-bottom>h1{
    font-size: 45px;
    color:white;
    text-shadow: 0 0 5px orangered;
    font-weight: bolder;
    border-bottom: 2px orangered solid;
    margin: 0px;
}
.left-bottom>p{
    text-align: center;
    font-size: 20px;
    color:black;
    font-weight: bolder;
    margin: 0px;
    letter-spacing: 10px;
}

nav{
    width: 100%;
    height: 50px;
    background-color: orangered;

}
nav>.bentrai{
    margin: 0px;
    padding-left: 10px;
}
nav>.bentrai>li{
    float: left;
    padding: 0px;
}
nav>.bentrai>li> a{
    color: white;
    line-height: 50px;
    text-decoration: none;
    font-variant: small-caps;
    padding: 10PX;
}
nav>.bentrai>li>a:hover{
    font-weight: bolder;
}
nav>.benphai{
    margin: 0px;
    padding-right: 10px;
}
nav>.benphai>li{
    float: right;
}
nav>.benphai>li> a{
    color: white;
    line-height: 50px;
    text-decoration: none;
    font-variant: small-caps;
    padding: 10PX;
}
nav>.benphai>li>a:hover{
    font-weight: bolder;
}