.h2 {
    color: coral;
}

.doan-1 {
    color: orange;
}

.doan-2 {
    color: yellow;
}

.doan-3 {
    color: blue;
}

strong {
    color: red`;
}

div {
    font-style: oblique;
    text-align: center;
}